body {
  background-color: #FF6347;
  text-align: center;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: 'Baloo Chettan', sans-serif;
  color: #01CBFD;
  font-size: 68px;
  padding: 60px 0;
}

/* plane icon styling */
nav {
  display: inline;
  position: fixed;
  top: 50%;
  left: 0;
  padding-left: 20px;
  z-index: 3;
}

a {
  text-decoration: none;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  box-shadow: none;
  width: 240px;
  height: 48px;
  text-align: center;
  color: white;
}

button {
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.8);
  color: #01CBFD;
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 6px;
}

#table {
  display: flex;
  justify-content: center;
  padding: 80px 20px 20px 20px;
}

#results {
  display: flex;
}

#results div {
  padding-top: 40px;
}

#tableheads p, #results div p {
  height: 60px;
}

#tableheads div {
  padding-top: 40px;
}

#tableheads p {
  color: #544E61;
  font-family: "Bellota Text", sans-serif;
  font-size: 20px;
}

#results div p {
  min-width: 14vw;
}

/* side bar styling */
.weather {
  background-color: rgba(255,211,99, 0.25);
  width: 25%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* this will hide side bar off the screen */
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  z-index: 2;
}

/* this will make side bar visible */
.weather.open {
  transform: translateX(0);
}

h2 {
  font-family: "Bellota Text", sans-serif;
  color: #544E61;;
  font-size: 36px;
}

.weather div {
  margin-top: 70%;
}

.weather div p {
font-size: 20px;
line-height: 1.2em;
}

.weather img {
  padding-top: 20px;
}



/* styling for iPad screen */
@media only screen and (max-width: 770px) {
   
  #table {
    padding: 40px 10px 10px 10px;
  }

  #results div {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .weather img {
    width: 50%;
    padding-top: 500px;
  }

}

/* styling for iPhone 6/7/8 plus screen */
@media only screen and (max-width: 414px) {
  
  h1 {
    font-size: 48px;
    padding-top: 45%;
    padding-right: 10px;
    padding-left: 10px;
  }

  #table {
    padding: 10px;
  }
  
  #tableheads {
    display: none;
  }

  #results {
    padding-left: 50px;
    padding-right: 50px;
  }

  #results div {
    padding-left: 5px;
    padding-right: 5px;
  }

  nav {
    padding-left: 5px;
  }

  nav a img {
    width: 50%;
  }
  
  .weather {
    background-color: rgba(255,211,99, 1);
    width: 100%;
  }
  
  .weather div {
    margin-top: 50%;
  }

  .weather img {
    padding-top: 20px;
  }

}